################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WindowsFormsApp1/obj
/WindowsFormsApp1/Properties
/WindowsFormsApp1/bin/Debug
